@model _200416891A1.Models.Videogame


@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>@Html.DisplayFor(model => model.Name)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            $ @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinimumRequirements)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinimumRequirements)
        </dd>
    </dl>

    <dl class="dl-horizontal">
        <dt>Publishers</dt>
        <dd></dd> <br />
        <dt>
            @Html.DisplayNameFor(model => model.Publishers.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Publishers.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Publishers.Website)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Publishers.Website)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Developers</dt>
        <dd></dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.Developers.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Developers.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Developers.Website)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Developers.Website)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Genres</dt>
        <dd></dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.Genres.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genres.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Genres.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genres.Description)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
